@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;700&family=Merriweather:wght@300;700&family=Peddana&family=Roboto:wght@100;300&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 750px;
  margin: 20px auto;
}

.App footer {
  margin: 10px;
  color: #224e6c;
}
