@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 750px;
  margin: 20px auto;
}

.App footer {
  margin: 10px;
}
