.Weather {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 5px;
  margin-top: 5%;
  padding: 30px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.Weather form {
  text-align: center;
  margin-bottom: 15px;
}

.Weather h1,
h2,
h3,
li,
p {
  color: #5a6276;
}

.Weather h3 {
  font-size: 20px;
  text-align: center;
}

.Weather p {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.Weather li {
  list-style: none;
  text-align: left;
  font-size: 22px;
}

.Weather .button-geolocation {
  border: none;
  background: transparent;
  color: #5a6276;
}

.Weather .button-geolocation:focus {
  outline: none;
}

.Weather .input-search {
  background: #fff;
  opacity: 0.5;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 35px;
  padding: 10px;
}

.Weather .input-search:focus {
  outline: none;
}

.Weather .button-search {
  border: none;
  background: transparent;
  color: #5a6276;
}

.Weather .button-search:focus {
  outline: none;
}

.Weather img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  float: left;
}

.Weather .temperature {
  font-size: 70px;
  color: #5a6276;
  line-height: 1;
  font-weight: 450;
}

.Weather .units {
  font-size: 20px;
  color: #5a6276;
  position: relative;
  top: -50px;
}
