.WeatherForecast {
  text-align: center;
  margin: 0;
  color: #224e6c;
  font-size: 20px;
}

.WeatherForecast .WeatherIcon img {
  display: block;
  margin: 5px auto;
  width: 50px;
  height: 50px;
}
