.WeatherInfo h1,
h2,
h3,
li,
p {
  color: #224e6c;
}

.WeatherInfo h3 {
  font-size: 20px;
  text-align: center;
}

.WeatherInfo p {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.WeatherInfo li {
  list-style: none;
  text-align: left;
  font-size: 22px;
}

.WeatherInfo img {
  width: 150px;
  height: 150px;
  margin: 10px auto;
}

.WeatherInfo .overview {
  padding-top: 20px;
  margin: 10px;
}

.WeatherInfo .current-location h1 {
  text-transform: capitalize;
  font-size: 40px;
  text-align: left;
  margin-bottom: 1px;
}

.WeatherInfo .current-date-time {
  text-align: left;
  display: block;
  padding-left: 2px;
}

.WeatherInfo .current-date-time ul {
  padding-left: 0;
}

.WeatherInfo .current-date-time li {
  font-size: 16px;
}

.WeatherInfo .row .first-col {
  padding-right: 0;
  padding-left: 15 px;
}

.WeatherInfo .row .second-col {
  padding-left: 0;
}

.WeatherInfo .temperature {
  font-size: 80px;
  color: #224e6c;
  line-height: 1;
  font-weight: 450;
}

.WeatherInfo .unit {
  font-size: 25px;
  color: #224e6c;
  position: relative;
  top: -50px;
  font-weight: bold;
}

.WeatherInfo .unit a {
  color: #224e6c;
  font-weight: bold;
}

.WeatherInfo .suntime {
  padding-left: 50;
  margin-bottom: 0;
}

.WeatherInfo .suntime li {
  font-size: 20px;
}

.WeatherInfo .weather-details {
  padding-left: 0;
  line-height: 37px;
}
.WeatherInfo .weather-details ul {
  margin-left: -50px;
}
